@font-face {
  font-family: 'Pragmatica';
  src: local('Pragmatica Light'), local('Pragmatica_Light'), url('~@/assets/fonts/Pragmatica/Pragmatica_Light.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pragmatica';
  src: local('Pragmatica Medium'), local('Pragmatica_Medium'), url('~@/assets/fonts/Pragmatica/Pragmatica_Medium.otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('~@/assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('~@/assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Creepy";
  src: url("https://raw.githubusercontent.com/WebDevSimplified/Mix-Or-Match/master/Assets/Fonts/Creepy.woff?raw=true"), 
    url("https://raw.githubusercontent.com/WebDevSimplified/Mix-Or-Match/master/Assets/Fonts/Creepy.woff2?raw=true");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lunacy";
  src: url("https://raw.githubusercontent.com/WebDevSimplified/Mix-Or-Match/master/Assets/Fonts/Lunacy.woff"), 
    url("https://raw.githubusercontent.com/WebDevSimplified/Mix-Or-Match/master/Assets/Fonts/Lunacy.woff2");
  font-style: normal;
  font-display: swap;
}
